version: '3.8'

services:
  db:
    image: postgres:15
    container_name: stepik_db
    environment:
      POSTGRES_USER: stepik_user
      POSTGRES_PASSWORD: yuki123
      POSTGRES_DB: stepik_fastapi
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: stepik_redis
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: stepik_app
    # Сначала ждем БД, потом миграции, потом запуск
    command: >
      sh -c "alembic upgrade head && 
             uvicorn app.main:app --host 0.0.0.0 --port 8000"
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

volumes:
  postgres_data: